.wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	align-items: center;
	min-height: 100dvh;
	width: 100%;
	overflow-x: hidden;
	padding-bottom: 2rem;
}

.topicCard {
	background-color: #f9f9f9;
}
