@use "./base" as base;
@use "./functions" as fn;

$primary: base.$green;
$secondary: #E2E8F0;
$tertiary: base.$orange;
$danger: base.$red;

$text: base.$green;
$background: base.$off-white;
$surface: base.$white;
